# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\skill_jobs_training\django_2nd_batch\first_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
